NEXT_PUBLIC_SUPABASE_URL=https://mcawdwriqdcvydkorwuv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jYXdkd3JpcWRjdnlka29yd3V2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NTE2NzMsImV4cCI6MjA4OTQyNzY3M30.c1I2ka4FtfbmI3Sutu39NDSgXoK6yzJdFZQ4L1MPlzU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jYXdkd3JpcWRjdnlka29yd3V2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzg1MTY3MywiZXhwIjoyMDg5NDI3NjczfQ.6uT8BOOls14DPPQj1Jm6VUOnrLeR_ar_VR4VAL9QMRk

NEXT_PUBLIC_APP_URL=http://localhost:3000
