VITE_SUPABASE_URL=https://pfbrmobnoyksabpgrcbh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmYnJtb2Jub3lrc2FicGdyY2JoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyMTg4MjgsImV4cCI6MjA4OTc5NDgyOH0.0IGIWrdk_r83sY-YRPiNt5_QrbVBlmODmeRrIWhPwOQ
